<section
  data-transition="fade">
  <div class="cs-browser-container">
    <div class="cs-col">
      <div class="cs-browser cs-nobar cs-browser-smaller">
        <div class="cs-browser-inner">
          <div class="cs-browser-menu">
            <div class="cs-browser-ac">
              <span></span>
            </div>
          </div>
          <div class="cs-browser-content">
            <div class="cs-browser-content-inner">
              <img src="images/cssconfar.jpg" alt="xapo Wallet">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-col">
      <div class="cs-browser cs-nobar cs-browser-smaller">
        <div class="cs-browser-inner">
          <div class="cs-browser-menu">
            <div class="cs-browser-ac">
              <span></span>
            </div>
          </div>
          <div class="cs-browser-content">
            <div class="cs-browser-content-inner">
              <img src="images/foxsports.jpg" alt="xapo Wallet">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-col">
      <div class="cs-browser cs-nobar cs-browser-smaller">
        <div class="cs-browser-inner">
          <div class="cs-browser-menu">
            <div class="cs-browser-ac">
              <span></span>
            </div>
          </div>
          <div class="cs-browser-content">
            <div class="cs-browser-content-inner">
              <img src="images/xapo.jpg" alt="xapo Wallet">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="notes">
    We all want to create some great sites, or even webapps. Each project has it's own challenges and everytime you learn something new.</br>
    But when things starts to get "huge" or unmantainable is when we start hatin' CSS.
  </aside>
</section>