<section
  data-transition="slide">
  <div class="side-by-side">
    <img class="no-shadow" src="images/analytics_1.jpg">
    <img class="no-shadow" src="images/analytics_2.jpg">
  </div>
  <div class="side-by-side margin-top">
    <p class="h3">Browsers</p>
    <p class="h3">Resolutions</p>
  </div>

  <aside class="notes">

  </aside>
</section>