<section
  data-transition="slide">
  <h4 class="h0 text-uppercase c-purple">"C" for <span class="text-block c-black">Cascade</span></h4>
  <h4 class="fragment fade-in emoji-big">👀</h4>
  <aside class="notes">

  </aside>
</section>