<section
  data-transition="fade"
  data-background-image="images/sergio-profile.jpg"
  data-background-position="bottom left"
  data-background-size="32% auto"
  data-background-color="#fff">
  <h2 class="h1">Sergio Behrends</h2>
  <p class="h2 text-bold">VPE @ <span class="c-orange">Aerolab <i class="icon-aerolab"></i></span></p>
  <p class="h3"><i class="icon-twitter"></i>@Blunk <i class="icon-github"></i>sbehrends</p>
  <p class="h3 text-bold">#cssconfar</p>

  <aside class="notes">
    Who I am?
  </aside>
</section>