 <section
  data-transition="slide">
  <h5 class="h1 fragment text-uppercase c-purple">Learn from your code</h5>
  <h5 class="h1 fragment text-uppercase c-purple">Peer Review</h5>
  <aside class="notes">

  </aside>
</section>