<section
  data-background-color="#503EEF"
  data-transition="slide">

  <h3 class="emoji-big">💣</h3>
  <pre>
    <code class="language-css no-height h2" data-trim data-noescape>
h1 {
  color: #503EEF;
  text-transform: uppercase;
}
#nav ul li {
  float: left;
}
.dontUPPER {
  text-transform: none !important;
}
.red {
  color: red;
}
header li.red.otherRed {
  color: #CD1203;
}
.hide {
  display: none !important;
}
.no-padding {
  padding: 0 !important;
}
    </code>
  </pre>

  <aside class="notes">
  </aside>
</section>