<section
  data-background-color="#503EEF"
  data-transition="slide">

  <h3 class="h1">Selectors</h3>
  <pre>
    <code class="language-css h2" data-trim data-noescape>
h1 {
  
}
    </code>
  </pre>

  <aside class="notes">
  </aside>
</section>