<section
  data-transition="slide">
  <h3 class="h1 text-uppercase c-purple"><span class="text-block c-black">#AVOIDUSINGIDS</span></h3>
  <h4 class="h1">Think in <span class="text-block c-black">Modules</span></h4>
  <aside class="notes">

  </aside>
</section>