<section
  data-transition="slide">

<pre>
<code class="language-xml no-height h2" data-trim data-noescape>
├── <span class="c-purple text-bold">fonts</span>
│   └── ...
├── <span class="c-purple text-bold">images</span>
│   └── ...
└── <span class="c-purple text-bold">styles</span>
    ├── <span class="c-orange text-bold">base</span>
    │   ├── _base.scss
    │   ├── _fonts.scss
    │   ├── _text.scss
    │   └── _vars.scss
    ├── <span class="c-orange text-bold">layout</span>
    │   ├── _footer.scss
    │   ├── _header.scss 
    │   └── ...
    ├── styles.scss
    ├── <span class="c-orange text-bold">modules</span>
    │   ├── _btn.scss
    │   └── ...
    └── <span class="c-orange text-bold">util</span>
        └── mixins.scss
</code>
</pre>

  <aside class="notes">

  </aside>
</section>