<section
  data-transition="slide">
  <h3 class="h1 text-uppercase c-purple">Important</h3>
  <h3 class="h1 fragment fade-in text-uppercase c-purple">Don't use <span class="text-block c-black">!important</span></h3>
  <aside class="notes">

  </aside>
</section>