<section
  data-background-color="#503EEF">
  <h5 class="h0">Thank you!</h5>
  <h5 class="emoji-big">☕ ||️ 🍺</h5>
  <p class="h3"><i class="icon-twitter"></i>@Blunk <i class="icon-github"></i>sbehrends</p>
  <aside class="notes">

  </aside>
</section>