<section
  data-transition="slide">

  <h1 class="h1 text-uppercase c-purple">Mobile First 📱</h1>
<pre>
<code class="language-scss no-height h2" data-trim data-noescape>
.btn {

  /* Mobile */

  ...

  @media screen and (min-width: 320px) {
    /* Tablet */
    ...
  }

  @media screen and (min-width: 768px) {
    /* Desktop */
    ...
  }
}
</code>
</pre>

  <aside class="notes">
  </aside>
</section>