<section
  data-transition="slide">
  <h4 class="h1 text-uppercase c-purple">Understanding Structure</h4>
  <h4 class="h1 text-uppercase c-purple">Target Browsers</h4>
  <h4 class="h1 text-uppercase c-purple">Devices &amp; Resolutions</h4>
  <aside class="notes">

  </aside>
</section>