<section
  data-background-color="#FFF"
  data-transition="slide">
  <h3 class="h1">Got Hacks?</h3>
  <pre>
    <code class="language-css h2" data-trim data-noescape>
.animation {
  /* Little hack for better rendering */
  transform: translateZ(0);
}
    </code>
  </pre>
  <pre>
    <code class="language-css h2" data-trim data-noescape>
/* Fixes strange issue with image sizing in IE */
_:-ms-fullscreen, :root .content image {
  min-height: 100%;
}
    </code>
  </pre>
  <aside class="notes">
  </aside>
</section>

