<section
  data-transition="slide">

  <div class="side-by-side">
      <div class="card">
          <div class="card-image">
              <img class="img-responsive" src="images/london.jpg">
              <span class="card-title">Top things to do in London</span>
          </div>
          
          <div class="card-content">
              <p>London is a treasure trove of brilliant activities and days out worth boasting about. We're completely spoilt for choice with things to do in London, whether you live and work in the capital or you’re planning a holiday, there's loads of ways to fill a free day with fun.</p>
          </div>
      </div>

      <div class="related" style="margin-top: -60px;">
        <h4>Related Articles</h4>
        <div class="card">
          <div class="card-image">
              <img class="img-responsive" src="images/london.jpg">
              <span class="card-title">Top things to do in London</span>
          </div>
          
          <div class="card-content">
              <p>London is a treasure trove of brilliant activities and days out worth boasting about. We're completely spoilt for choice with things to do in London, whether you live and work in the capital or you’re planning a holiday, there's loads of ways to fill a free day with fun.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
              <img class="img-responsive" src="images/paris.jpg">
              <span class="card-title">Top things to do in Paris</span>
          </div>
          
          <div class="card-content">
              <p>Notre Dame and the Eiffel Tower have been described countless times, as have the Seine and the subtle (and not-so-subtle) differences between the Left and Right Banks.</p>
          </div>
        </div>
      </div>

  </div>

  <aside class="notes">

  </aside>
</section>