<section
  data-background-color="#CD1203"
  data-transition="fade-out">
  <h1 class="h0 text-uppercase">What <span class="text-block c-red">NOT</span> to do in <span class="text-block c-red">CSS</span></h1>
  <aside class="notes">
  </aside>
</section>