<section>
  <h3 class="h0 text-uppercase c-purple">SMACSS</h3>
  <h3 class="h0 text-uppercase c-purple">BEM</h3>
  <h3 class="h0 text-uppercase c-purple">OOCSS</h3>
  <aside class="notes">

  </aside>
</section>