<section
  data-background-color="#503EEF"
  data-transition="fade-out">
  <h4 class="h2">1994 Proposal</h4>
  <pre>
    <code class="language-css h2" data-trim data-noescape>
window.foreground = black
font.family = times
font.size = 12pt # alternative units are px, mm, cm
font.slant = normal
font.weight = normal

h1.font.size = font.size * 3
h2.font.size = font.size * 2.5
h3.font.size = font.size * 2
    </code>
  </pre>
  <p>Håkon W Lie</p>
  <aside class="notes">
  </aside>
</section>