<section
  data-transition="slide">
  <h4 class="h1 text-uppercase c-purple">Product Owners</h4>
  <h4 class="h1 text-uppercase c-purple">Designers️</h4>
  <h4 class="h1 text-uppercase c-purple">Developers</h4>
  <h4 class="fragment emoji-big">♥️</h4>

  <aside class="notes">

  </aside>
</section>