<section
  data-transition="slide">

<pre>
<code class="language-css no-height h1" data-trim data-noescape>
header.main-header nav > ul > li > ul > li a {
  text-decoration: none;
}
</code>
</pre>

  <aside class="notes">

  </aside>
</section>