<section
  data-transition="slide">

  
  <div id="slide-dynamic-3-demo-css" class="margin-center text-center">
    <div class="margin-center text-center">
      <button class="btn btn-purple" href="#" target="_blank">I'm a Button</button>
    </div>
    <div id="slide-dynamic-3-demo-html" class="margin-center text-center">
    </div>
  </div>

<pre>
  <code class="liveCoding h2 language-html" data-livecoding-id="slide-dynamic-3-demo-html" data-trim contenteditable>
<button class="btn" href="#" target="_blank">
  I'm a Button
</button>
  </code>
</pre>

<pre>
<code class="liveCoding h2 language-css" data-livecoding-id="slide-dynamic-3-demo-css" data-trim contenteditable>
.btn {

}
</code>
</pre>

  <aside class="notes">
  </aside>
</section>