<section
  data-background-color="#503EEF"
  data-transition="slide">

  <h3 class="h1">Properties</h3>
  <pre>
    <code class="language-css h2" data-trim data-noescape>
h1 {
  color: #503EEF;
  text-transform: uppercase;
}
    </code>
  </pre>

  <aside class="notes">
  </aside>
</section>