$black: #333333;
$white: #FFFFFF;
$gray: #EBEBEB;

$purple: #503EEF;
$yellow: #FFAF33;
$orange: #FF7B00;
$red: #CD1203;

.c-purple {
  color: $purple;
}

.c-yellow {
  color: $yellow;
}

.c-orange {
  color: $orange;
}

.c-red {
  color: $orange;
}

.c-white {
  color: $white;
}