<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Custom styles -->
  <link rel="stylesheet" href="styles.css">
  <title>What NOT to do in CSS</title>
</head>
<body>
  <div class="margin-center text-center">
    <button class="btn btn-purple" href="#" target="_blank">I'm a Large Button</button>
  </div>
  <div class="margin-center text-center">
    <button class="btn btn-purple hover" href="#" target="_blank">I'm a Large Button</button>
  </div>
</body>
</html>